root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4
line_length = 120

[Makefile]
indent_style = tab

[*.rst]
indent_style = space
indent_size = 4
