.idea/
env/
env36/
env37/
env38/
venv/
.venv/
*.py[cod]
*.egg-info/
.python-version
/build/
dist/
.cache/
.mypy_cache/
test.py
.coverage
/htmlcov/
/benchmarks/*.json
/docs/.changelog.md
/docs/.version.md
/docs/.tmp_schema_mappings.html
/docs/.tmp_examples/
/site/
/site.zip
.pytest_cache/
.vscode/
_build/
pydantic/*.c
pydantic/*.so
.auto-format
/sandbox/
/.ghtopdep_cache/
/fastapi/
/codecov.sh
