*.py[cod]
*.egg-info/

.coverage
.python-version
package-lock.json
test.py

.cache/
.hypothesis/
build/
dist/
docs/_build/
htmlcov/
node_modules/

/.benchmarks/
/.idea/
/.pytest_cache/
/.vscode/
/env*/
/env/
/flame/
/pytest-speed/
/sandbox/
/sandbox/
/site/
/target/
/worktree/

/.editorconfig
/.pdm-python
/*.lcov
/*.profdata
/*.profraw
/foobar.py
/pydantic_core/*.so
/src/self_schema.py
