[package]
name = "pydantic-core"
version = "0.40.1"
edition = "2021"
license = "MIT"
homepage = "https://github.com/pydantic/pydantic-core"
repository = "https://github.com/pydantic/pydantic-core.git"
readme = "README.md"
include = [
    "/pyproject.toml",
    "/README.md",
    "/LICENSE",
    "/Makefile",
    "/build.rs",
    "/generate_self_schema.py",
    "/rust-toolchain",
    "/src",
    "!/src/self_schema.py",
    "/pydantic_core",
    "/tests",
    "/.cargo",
    "!__pycache__",
    "!tests/.hypothesis",
    "!tests/.pytest_cache",
    "!*.so",
]

[dependencies]
pyo3 = "0.19.0"
regex = "1.6.0"
strum = { version = "0.25.0", features = ["derive"] }
strum_macros = "0.24.3"
serde_json = {version = "1.0.87", features = ["preserve_order"]}
enum_dispatch = "0.3.8"
serde = "1.0.147"
mimalloc = { version = "0.1.30", default-features = false, optional = true }
speedate = "0.9.0"
ahash = "0.8.0"
url = "2.3.1"
# idna is already required by url, added here to be explicit
idna = "0.3.0"
base64 = "0.13.1"
num-bigint = "0.4.3"

[lib]
name = "_pydantic_core"
crate-type = ["cdylib", "rlib"]

[features]
# must be enabled when building with `cargo build`, maturin enables this automatically
extension-module = ["pyo3/extension-module"]
# required for cargo bench
auto-initialize = ["pyo3/auto-initialize"]
# disabled for benchmarks since it makes microbenchmark performance more flakey
mimalloc-allocator = ["mimalloc", "mimalloc/local_dynamic_tls"]
default = ["pyo3/generate-import-lib", "pyo3/num-bigint"]

[profile.release]
lto = "fat"
codegen-units = 1
strip = true

[dev-dependencies]
pyo3 = { version = "0.19.0", features = ["auto-initialize"] }

[build-dependencies]
version_check = "0.9.4"
# used where logic has to be version/distribution specific, e.g. pypy
pyo3-build-config = "0.19.0"
