site_name: pydantic
site_description: Data validation using Python type hints
strict: true
site_url: https://docs.pydantic.dev/

theme:
  name: 'material'
  custom_dir: 'docs/theme'
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: pink
    accent: pink
    toggle:
      icon: material/lightbulb-outline
      name: "Switch to dark mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: pink
    accent: pink
    toggle:
      icon: material/lightbulb
      name: "Switch to light mode"
  features:
    - content.tabs.link
    - announce.dismiss
    - navigation.tabs
  logo: 'logo-white.svg'
  favicon: 'favicon.png'

repo_name: pydantic/pydantic
repo_url: https://github.com/pydantic/pydantic
edit_uri: edit/main/docs/
extra:
  analytics:
    provider: google
    property: UA-62733018-4

extra_css:
- 'extra/terminal.css'
- 'extra/tweaks.css'
extra_javascript:
- 'extra/redirects.js'

nav:
- Get Started:
  - Welcome to pydantic: index.md
  - Installation: install.md
  - changelog.md
- Usage:
  - usage/models.md
  - 'Field Types': usage/types.md
  - usage/validators.md
  - 'Model Config': usage/model_config.md
  - usage/schema.md
  - usage/exporting_models.md
  - usage/dataclasses.md
  - usage/validation_decorator.md
  - usage/postponed_annotations.md
- Integrations:
  - 'Mypy': integrations/mypy.md
  - 'PyCharm': integrations/pycharm.md
  - 'Hypothesis': integrations/hypothesis.md
  - 'Visual Studio Code': integrations/visual_studio_code.md
  - 'datamodel-code-generator': integrations/datamodel_code_generator.md
  - 'devtools': integrations/devtools.md
  - 'Rich': integrations/rich.md
- Contribute: contributing.md
- Blog:
  - blog/pydantic-v2.md


markdown_extensions:
- tables
- toc:
    permalink: true
    title: Page contents
- admonition
- pymdownx.highlight
- pymdownx.extra
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- pymdownx.tabbed:
    alternate_style: true

plugins:
- search
- exclude:
    glob:
    - theme/announce.html
    - plugins/*
    - __pycache__/*
- mkdocs-simple-hooks:
    hooks:
      on_pre_build: 'docs.plugins.main:on_pre_build'
      on_files: 'docs.plugins.main:on_files'
      on_page_markdown: 'docs.plugins.main:on_page_markdown'
- redirects:
    redirect_maps:
      'usage/mypy.md': 'integrations/mypy.md'
      'mypy_plugin.md': 'integrations/mypy.md'
      'datamodel_code_generator.md': 'integrations/datamodel_code_generator.md'
      'visual_studio_code.md': 'integrations/visual_studio_code.md'
      'hypothesis_plugin.md': 'integrations/hypothesis.md'
      'pycharm_plugin.md': 'integrations/pycharm.md'
      'usage/devtools.md': 'integrations/devtools.md'
      'usage/rich.md': 'integrations/rich.md'
