site_name: pydantic
site_description: Data validation using Python type hints
strict: true
site_url: https://docs.pydantic.dev/

theme:
  name: 'material'
  custom_dir: 'docs/theme'
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: pink
    accent: pink
    toggle:
      icon: material/lightbulb-outline
      name: "Switch to dark mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: pink
    accent: pink
    toggle:
      icon: material/lightbulb
      name: "Switch to light mode"
  features:
    - content.tabs.link
    - announce.dismiss
    - navigation.tabs
  logo: 'logo-white.svg'
  favicon: 'favicon.png'

repo_name: pydantic/pydantic
repo_url: https://github.com/pydantic/pydantic
edit_uri: edit/main/docs/
extra:
  analytics:
    provider: google
    property: UA-62733018-4

extra_css:
- 'extra/terminal.css'
- 'extra/tweaks.css'
extra_javascript:
- 'extra/redirects.js'

nav:
- Get Started:
  - Welcome to pydantic: index.md
  - Installation: install.md
  - changelog.md
- Usage:
  - usage/models.md
  - Field Types:
    - Types Overview: usage/types.md
    - Standard Library Types: usage/standard_types.md
    - Booleans: usage/booleans.md
    - ByteSize: usage/bytesize.md
    - Callables: usage/callables.md
    - Color Types: usage/color_types.md
    - Datetimes: usage/datetime.md
    - Dicts and Mapping: usage/dicts_mapping.md
    - Enums and Choices: usage/enums.md
    - File Types: usage/filetypes.md
    - JSON: usage/json.md
    - Lists and Tuples: usage/list_types.md
    - Number Types: usage/number_types.md
    - Payment Card Numbers: usage/payment_cards.md
    - Secret Types: usage/secrets.md
    - Sequence, Iterable, & Iterator: usage/sequence_iterable.md
    - Sets and frozenset: usage/set_types.md
    - String Types: usage/string_types.md
    - Type and TypeVar: usage/typevars.md
    - Types with Fields: usage/types_fields.md
    - Unions: usage/unions.md
    - URLs: usage/urls.md
    - UUIDs: usage/uuids.md
    - Custom Data Types: usage/custom.md
  - usage/validators.md
  - 'Model Config': usage/model_config.md
  - usage/schema.md
  - usage/exporting_models.md
  - usage/dataclasses.md
  - usage/validation_decorator.md
  - usage/postponed_annotations.md
  - usage/errors.md
  - usage/conversion_table.md
- Integrations:
  - 'Mypy': integrations/mypy.md
  - 'PyCharm': integrations/pycharm.md
  - 'Hypothesis': integrations/hypothesis.md
  - 'Visual Studio Code': integrations/visual_studio_code.md
  - 'datamodel-code-generator': integrations/datamodel_code_generator.md
  - 'devtools': integrations/devtools.md
  - 'Rich': integrations/rich.md
- Contribute: contributing.md
- Blog:
  - blog/pydantic-v2.md


markdown_extensions:
- tables
- toc:
    permalink: true
    title: Page contents
- admonition
- pymdownx.highlight
- pymdownx.extra
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- pymdownx.tabbed:
    alternate_style: true

plugins:
- search
- exclude:
    glob:
    - theme/announce.html
    - plugins/*
    - __pycache__/*
- mkdocs-simple-hooks:
    hooks:
      on_pre_build: 'docs.plugins.main:on_pre_build'
      on_files: 'docs.plugins.main:on_files'
      on_page_markdown: 'docs.plugins.main:on_page_markdown'
- redirects:
    redirect_maps:
      'usage/mypy.md': 'integrations/mypy.md'
      'mypy_plugin.md': 'integrations/mypy.md'
      'datamodel_code_generator.md': 'integrations/datamodel_code_generator.md'
      'visual_studio_code.md': 'integrations/visual_studio_code.md'
      'hypothesis_plugin.md': 'integrations/hypothesis.md'
      'pycharm_plugin.md': 'integrations/pycharm.md'
      'usage/devtools.md': 'integrations/devtools.md'
      'usage/rich.md': 'integrations/rich.md'
