site_name: pydantic
site_description: Data validation using Python type hints
strict: true
site_url: https://docs.pydantic.dev/

theme:
  name: 'material'
  custom_dir: 'docs/theme'
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: pink
    accent: pink
    toggle:
      icon: material/lightbulb-outline
      name: "Switch to dark mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: pink
    accent: pink
    toggle:
      icon: material/lightbulb
      name: "Switch to light mode"
  features:
    - content.tabs.link
    - announce.dismiss
    - navigation.tabs
  logo: 'logo-white.svg'
  favicon: 'favicon.png'

repo_name: pydantic/pydantic
repo_url: https://github.com/pydantic/pydantic
edit_uri: edit/main/docs/
extra:
  analytics:
    provider: google
    property: UA-62733018-4

extra_css:
- 'extra/terminal.css'
- 'extra/tweaks.css'
extra_javascript:
- 'extra/redirects.js'

nav:
- Get Started:
  - Welcome to pydantic: index.md
  - Installation: install.md
  - Migration Guide: migration.md
  - changelog.md
- Usage:
  - usage/models.md
  - Field Types:
    - Types Overview: usage/types/types.md
    - Standard Library Types: usage/types/standard_types.md
    - Booleans: usage/types/booleans.md
    - ByteSize: usage/types/bytesize.md
    - Callables: usage/types/callables.md
    - Color Types: usage/types/color_types.md
    - Datetimes: usage/types/datetime.md
    - Dicts and Mapping: usage/types/dicts_mapping.md
    - Encoded Types: usage/types/encoded.md
    - Enums and Choices: usage/types/enums.md
    - File Types: usage/types/file_types.md
    - JSON: usage/types/json.md
    - Lists and Tuples: usage/types/list_types.md
    - Number Types: usage/types/number_types.md
    - Payment Card Numbers: usage/types/payment_cards.md
    - Secret Types: usage/types/secrets.md
    - Sequence, Iterable, & Iterator: usage/types/sequence_iterable.md
    - Sets and frozenset: usage/types/set_types.md
    - String Types: usage/types/string_types.md
    - Type and TypeVar: usage/types/typevars.md
    - Types with Fields: usage/types/types_fields.md
    - Unions: usage/types/unions.md
    - URLs: usage/types/urls.md
    - UUIDs: usage/types/uuids.md
    - Custom Data Types: usage/types/custom.md
  - usage/validators.md
  - 'Model Config': usage/model_config.md
  - usage/schema.md
  - usage/exporting_models.md
  - usage/computed_fields.md
  - usage/dataclasses.md
  - usage/validation_decorator.md
  - usage/postponed_annotations.md
  - usage/conversion_table.md
  - usage/pydantic_settings.md
- Error Messages:
  - Validation Errors: usage/validation_errors.md
  - Usage Errors: usage/errors.md
- Integrations:
  - 'Mypy': integrations/mypy.md
  - 'PyCharm': integrations/pycharm.md
  - 'Hypothesis': integrations/hypothesis.md
  - 'Visual Studio Code': integrations/visual_studio_code.md
  - 'datamodel-code-generator': integrations/datamodel_code_generator.md
  - 'devtools': integrations/devtools.md
  - 'Rich': integrations/rich.md
- Contribute: contributing.md
- Blog:
  - blog/pydantic-v2-alpha.md
  - blog/pydantic-v2.md
- API:
  - 'pydantic.alias_generators': api/alias_generators.md
  - 'pydantic.type_adapter': api/type_adapter.md
  - 'pydantic.color': api/color.md
  - 'pydantic.config': api/config.md
  - 'pydantic.dataclasses': api/dataclasses.md
  - 'pydantic.decorators': api/decorators.md
  - 'pydantic.errors': api/errors.md
  - 'pydantic.fields': api/fields.md
  - 'pydantic.json_schema': api/json_schema.md
  - 'pydantic.main': api/main.md
  - 'pydantic.mypy': api/mypy.md
  - 'pydantic.networks': api/networks.md
  - 'pydantic.types': api/types.md
  - 'pydantic.validate_call': api/validate_call.md
  - 'pydantic.version': api/version.md


markdown_extensions:
- tables
- toc:
    permalink: true
    title: Page contents
- admonition
- pymdownx.highlight
- pymdownx.extra
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- pymdownx.tabbed:
    alternate_style: true

watch:
- pydantic

extra:
  version:
    provider: mike

plugins:
- mike:
    alias_type: symlink
    canonical_version: latest
- search
- exclude:
    glob:
    - theme/announce.html
    - plugins/*
    - __pycache__/*
- mkdocstrings:
    handlers:
      python:
        paths: [.]
        options:
          separate_signature: true
- mkdocs-simple-hooks:
    hooks:
      on_pre_build: 'docs.plugins.main:on_pre_build'
      on_files: 'docs.plugins.main:on_files'
      on_page_markdown: 'docs.plugins.main:on_page_markdown'
- redirects:
    redirect_maps:
      'usage/mypy.md': 'integrations/mypy.md'
      'mypy_plugin.md': 'integrations/mypy.md'
      'datamodel_code_generator.md': 'integrations/datamodel_code_generator.md'
      'visual_studio_code.md': 'integrations/visual_studio_code.md'
      'hypothesis_plugin.md': 'integrations/hypothesis.md'
      'pycharm_plugin.md': 'integrations/pycharm.md'
      'usage/devtools.md': 'integrations/devtools.md'
      'usage/rich.md': 'integrations/rich.md'
- external-markdown:
