site_name: Pydantic
site_description: Data validation using Python type hints
strict: true
site_url: https://docs.pydantic.dev/

theme:
  name: 'material'
  custom_dir: 'docs/theme'
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: pink
    accent: pink
    toggle:
      icon: material/lightbulb-outline
      name: "Switch to dark mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: pink
    accent: pink
    toggle:
      icon: material/lightbulb
      name: "Switch to light mode"
  features:
    - content.tabs.link
    - announce.dismiss
  logo: 'logo-white.svg'
  favicon: 'favicon.png'

repo_name: pydantic/pydantic
repo_url: https://github.com/pydantic/pydantic
edit_uri: edit/main/docs/

extra_css:
- 'extra/terminal.css'
- 'extra/tweaks.css'
extra_javascript:
- 'extra/redirects.js'

nav:
- Overview: index.md
- install.md
- Usage:
  - usage/models.md
  - 'Field Types': usage/types.md
  - usage/validators.md
  - 'Model Config': usage/model_config.md
  - usage/schema.md
  - usage/exporting_models.md
  - usage/dataclasses.md
  - usage/validation_decorator.md
  - 'Settings management': usage/settings.md
  - usage/postponed_annotations.md
  - 'Usage with mypy': usage/mypy.md
  - 'Usage with devtools': usage/devtools.md
  - 'Usage with rich': usage/rich.md
- Blog:
  - blog/pydantic-v2-alpha.md
  - blog/pydantic-v2.md
- Contributing to pydantic: contributing.md
- 'Mypy plugin': mypy_plugin.md
- 'PyCharm plugin': pycharm_plugin.md
- 'Visual Studio Code': visual_studio_code.md
- 'Hypothesis plugin': hypothesis_plugin.md
- 'Code Generation': datamodel_code_generator.md
- changelog.md

markdown_extensions:
- tables
- markdown_include.include:
    base_path: docs
- toc:
    permalink: true
- admonition
- pymdownx.highlight
- pymdownx.extra
- mdx_truly_sane_lists
- pymdownx.emoji:
    emoji_index: !!python/name:material.extensions.emoji.twemoji
    emoji_generator: !!python/name:material.extensions.emoji.to_svg
- pymdownx.tabbed:
    alternate_style: true 

extra:
  version:
    provider: mike

plugins:
- mike:
    alias_type: symlink
    canonical_version: latest
- search
- exclude:
    glob:
    - _build/*
    - build/*
    - examples/*
    - requirements.txt
