site_name: Pydantic
site_description: Data validation using Python type hints
strict: true
site_url: https://docs.pydantic.dev/

theme:
  name: 'material'
  custom_dir: 'docs/theme'
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: pink
    accent: pink
    toggle:
      icon: material/lightbulb-outline
      name: "Switch to dark mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: pink
    accent: pink
    toggle:
      icon: material/lightbulb
      name: "Switch to light mode"
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
    - navigation.tabs
  logo: 'logo-white.svg'
  favicon: 'favicon.png'

repo_name: pydantic/pydantic
repo_url: https://github.com/pydantic/pydantic
edit_uri: edit/main/docs/
extra:
  version:
    provider: mike

extra_css:
  - 'extra/terminal.css'
  - 'extra/tweaks.css'
extra_javascript:
  - 'extra/fluff.js'
  - 'https://samuelcolvin.github.io/mkdocs-run-code/run_code_main.js'

nav:
- Get Started:
  - Welcome to Pydantic: index.md
  - Why use Pydantic: why.md
  - Help with Pydantic: help_with_pydantic.md
  - Installation: install.md
  - Migration Guide: migration.md
  - Version Compatibility: version-compatibility.md
  - Contributing: contributing.md
  - changelog.md
- Usage:
  - usage/models.md
  - Field Types:
    - Types Overview: usage/types/types.md
    - Standard Library Types: usage/types/standard_types.md
    - Strict Types: usage/types/strict_types.md
    - Type and TypeVar: usage/types/typevars.md
    - Types with Fields: usage/types/types_fields.md
    - Unions: usage/types/unions.md
    - Custom Data Types: usage/types/custom.md
    - Extra Types:
      - Extra Types Overview: usage/types/extra_types/extra_types.md
      - Color Types: usage/types/extra_types/color_types.md
      - Payment Card Numbers: usage/types/extra_types/payment_cards.md
      - Phone Numbers: usage/types/extra_types/phone_numbers.md
      - Routing Numbers: usage/types/extra_types/routing_numbers.md
      - MAC Address: usage/types/extra_types/mac_address.md
      - Coordinate: usage/types/extra_types/coordinate.md
  - usage/validators.md
  - 'Model Config': usage/model_config.md
  - 'Fields': usage/fields.md
  - 'JSON Schema': usage/json_schema.md
  - 'Serialization': usage/serialization.md
  - 'Dataclasses': usage/dataclasses.md
  - 'TypeAdapter': usage/type_adapter.md
  - 'Validation Decorator': usage/validation_decorator.md
  - 'Postponed Annotations': usage/postponed_annotations.md
  - 'Strict Mode': usage/strict_mode.md
  - 'Conversion Table': usage/conversion_table.md
  - 'Settings Management': usage/pydantic_settings.md
- Examples:
  - Secrets: examples/secrets.md
- Error Messages:
  - Error Handling: errors/errors.md
  - Validation Errors: errors/validation_errors.md
  - Usage Errors: errors/usage_errors.md
- Integrations:
  - 'Mypy': integrations/mypy.md
  - 'PyCharm': integrations/pycharm.md
  - 'Hypothesis': integrations/hypothesis.md
  - 'Visual Studio Code': integrations/visual_studio_code.md
  - 'datamodel-code-generator': integrations/datamodel_code_generator.md
  - 'devtools': integrations/devtools.md
  - 'Rich': integrations/rich.md
- Blog:
  - blog/pydantic-v2-final.md
  - blog/pydantic-v2-alpha.md
  - blog/pydantic-v2.md
- API Documentation:
  - Pydantic:
    - BaseModel: api/base_model.md
    - RootModel: api/root_model.md
    - 'Pydantic Dataclasses': api/dataclasses.md
    - TypeAdapter: api/type_adapter.md
    - validate_call: api/validate_call.md
    - Fields: api/fields.md
    - Config: api/config.md
    - json_schema: api/json_schema.md
    - Errors: api/errors.md
    - 'Functional Validators': api/functional_validators.md
    - 'Functional Serializers': api/functional_serializers.md
    - 'Standard Library Types': api/standard_library_types.md
    - 'Pydantic Types': api/types.md
    - 'Network Types': api/networks.md
    - 'Version Information': api/version.md
  - Pydantic Core:
    - 'pydantic_core': api/pydantic_core.md
    - 'pydantic_core.core_schema': api/pydantic_core_schema.md
  - Pydantic Settings:
    - 'pydantic_settings': api/pydantic_settings.md
  - Pydantic Extra Types:
    - 'pydantic_extra_types.color': api/pydantic_extra_types_color.md
    - 'pydantic_extra_types.country': api/pydantic_extra_types_country.md
    - 'pydantic_extra_types.payment': api/pydantic_extra_types_payment.md
    - 'pydantic_extra_types.phone_numbers': api/pydantic_extra_types_phone_numbers.md
    - 'pydantic_extra_types.routing_number': api/pydantic_extra_types_routing_number.md

markdown_extensions:
- tables
- toc:
    permalink: true
    title: Page contents
- admonition
- pymdownx.details
- pymdownx.superfences
- pymdownx.highlight:
    pygments_lang_class: true
- pymdownx.extra
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- pymdownx.tabbed:
    alternate_style: true

watch:
- pydantic

plugins:
- mike:
    alias_type: symlink
    canonical_version: latest
- search
- exclude:
    glob:
    - theme/announce.html
    - plugins/*
    - __pycache__/*
- mkdocstrings:
    handlers:
      python:
        paths: [.]
        options:
          members_order: source
          separate_signature: true
          filters: ["!^_"]
          docstring_options:
            ignore_init_summary: true
          merge_init_into_class: true
          extensions:
            - docs/plugins/griffe_doclinks.py
- mkdocs-simple-hooks:
    hooks:
      on_pre_build: 'docs.plugins.main:on_pre_build'
      on_files: 'docs.plugins.main:on_files'
      on_page_markdown: 'docs.plugins.main:on_page_markdown'
- redirects:
    redirect_maps:
      'usage/mypy.md': 'integrations/mypy.md'
      'mypy_plugin.md': 'integrations/mypy.md'
      'datamodel_code_generator.md': 'integrations/datamodel_code_generator.md'
      'visual_studio_code.md': 'integrations/visual_studio_code.md'
      'hypothesis_plugin.md': 'integrations/hypothesis.md'
      'pycharm_plugin.md': 'integrations/pycharm.md'
      'usage/devtools.md': 'integrations/devtools.md'
      'usage/rich.md': 'integrations/rich.md'
      'usage/types.md': 'usage/types/types.md'
      'usage/types/secrets.md': 'examples/secrets.md'
      'usage/types/string_types.md': 'api/types.md'
      'usage/types/file_types.md': 'api/types.md'
      'api/main.md': 'api/base_model.md'
      'api/color.md': 'api/pydantic_extra_types_color.md'
      'api/alias_generators.md': 'api/config.md'
      'api/pydantic_core_init.md': 'api/pydantic_core.md'
      'usage/validation_errors.md': 'errors/validation_errors.md'
      'usage/errors.md': 'errors/usage_errors.md'
- external-markdown:
