coverage==5.3.1
hypothesis==5.44.0
# pin importlib-metadata as upper versions need typing-extensions to work if on python < 3.8
importlib-metadata==3.1.0;python_version<"3.8"
mypy==0.790
pytest==6.2.1
pytest-cov==2.10.1
pytest-mock==3.4.0
pytest-sugar==0.9.4
