black==20.8b1
coverage==5.2.1
flake8==3.8.3
flake8-quotes==3.2.0
isort==5.5.1
mypy==0.782
pycodestyle==2.6.0
pyflakes==2.2.0
pytest==6.1.1
pytest-cov==2.10.1
pytest-mock==3.3.1
pytest-sugar==0.9.4
twine==3.2.0
