black==19.10b0
coverage==5.1
Cython==0.29.17;sys_platform!='win32'
flake8==3.8.1
flake8-quotes==3
isort==4.3.21
mypy==0.770
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==5.4.1
pytest-cov==2.8.1
pytest-mock==3.1.0
pytest-sugar==0.9.3
twine==3.1.1
