:root {
  --md-admonition-icon--pied-piper: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 700"><path d="m119.6 276.5 72.4 30.0c-6.3 16.6-11.5 33.6-15.7 50.9-1.2 5.2 0.2 10.7 4.0 14.5l77.3 77.4c3.8 3.7 9.3 5.3 14.5 4.0 17.3-4.1 34.3-9.4 50.9-15.7l30.0 72.4c1.4 3.6 4.6 6.2 8.5 7.0s7.8-0.4 10.5-3.2l40.2-40.2c15.6-15.7 23.9-37.3 22.7-59.5l-1.9-38.0c84.1-63.8 162.0-172.1 185.3-350.2 0.6-4.0-0.7-8.2-3.6-11.1-2.9-2.9-7.0-4.2-11.1-3.6-178.1 23.1-286.3 100.8-350.5 185.0l-37.8-1.7c-22.1-1.1-43.7 7.0-59.4 22.7l-40.2 40.3c-2.7 2.7-3.8 6.6-3.1 10.5 0.7 3.8 3.3 6.9 6.9 8.4zm297.5-132.6c9.1-9.0 21.4-14.1 34.3-14.1 12.8 0.0 25.1 5.1 34.2 14.2 9.0 9.1 14.1 21.4 14.1 34.2s-5.0 25.1-14.1 34.2c-9.0 9.1-21.4 14.2-34.2 14.2-12.8 0.0-25.2-5.0-34.3-14.1-9.1-9.1-14.3-21.5-14.3-34.4s5.1-25.3 14.3-34.4zm-336 390.9c4.1-76.2 41.1-118.2 62.3-136.3h0.0c2.0-1.6 4.9-1.8 7.2-0.4 2.2 1.3 3.5 3.9 3.1 6.5-2.0 11.4-2.3 23.1-1.0 34.7 1.1 9.5 5.4 18.3 12.2 25.1 6.7 6.7 15.6 11.0 25.1 12.2 11.6 1.5 23.4 1.2 35.0-0.7 2.7-0.4 5.4 0.7 6.7 3.1 1.3 2.3 1.0 5.3-0.7 7.4-18.0 20.9-60.0 57.9-136.3 62.1-3.7 0.2-7.4-1.1-10.0-3.8-2.6-2.6-4.0-6.3-3.8-10.0z"/></svg>')
}

.md-typeset .announcement>.admonition-title:before {
  -webkit-mask-image: var(--md-admonition-icon--pied-piper) !important;
          mask-image: var(--md-admonition-icon--pied-piper) !important;
}

.sponsors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0;
}

.sponsors > div {
  text-align: center;
  width: 33%;
  padding-bottom: 20px;
}

.sponsors span {
  display: block;
}

@media screen and (max-width: 599px) {
  .sponsors span {
    display: none;
  }
}

.sponsors img {
  width: 65%;
  border-radius: 5px;
}

/*blog post*/
aside.blog {
  display: flex;
  align-items: center;
}

aside.blog img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 20px;
}
