name: release notes

on:
  pull_request_target:
    types: [opened]

jobs:
  auto-labeler:
    name: auto-labeler
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - id: label-PR-by-branch-name
        uses: actions/labeler@v5
        with:
          configuration-path: '.github/labels/first_pass.yml'

      - id: add-default-if-no-labels
        if: ${{ !contains(steps.label-the-PR.outputs.all-labels, 'relnotes') || !contains(steps.label-the-PR.outputs.extra-labels, 'documentation') }}
        uses: actions/labeler@v5
        with:
          configuration-path: '.github/labels/default_pass.yml'
