# This workflow is a daily cron job, inspired by:
# https://github.com/python/typing_extensions/blob/main/.github/workflows/third_party.yml.
# Running the tests of various third-party libraries that use Pydantic. This helps us spot regressions early, and helps
# flag when third-party libraries are making incorrect assumptions that might cause them to break when we cut a new release.
name: Third party tests

on:
  schedule:
    - cron: '0 12 * * *' # Daily at midnight UTC
  pull_request:
    branches: [main]
  # Can be manually triggered from the Actions tab, if needed:
  workflow_dispatch:

permissions:
  contents: read

env:
  # https://github.com/pytest-dev/pytest/issues/7443#issuecomment-656642591:
  FORCE_COLOR: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-fastapi:
    name: Test FastAPI (main branch) on Python ${{ matrix.python-version }}
    # If 'schedule' was the trigger, don't run it on contributors' forks
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'pydantic/pydantic') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'third-party-tests'))

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # FastAPI doesn't yet support Python 3.13
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
    steps:
    - run: echo ${{ github.event_name }}
    - name: Checkout FastAPI
      uses: actions/checkout@v4
      with:
        repository: fastapi/fastapi

    - name: Checkout Pydantic
      uses: actions/checkout@v4
      with:
        path: pydantic-latest

    - uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true
        python-version: ${{ matrix.python-version }}

    - name: Install FastAPI dependencies
      run: |
        uv venv --python ${{ matrix.python-version }}
        uv pip install -r requirements-tests.txt
        uv pip install ./pydantic-latest

    - name: List installed dependencies
      run: uv pip list

    - name: Run FastAPI tests
      run: PYTHONPATH=./docs_src uv run --no-project pytest tests

  test-sqlmodel:
    name: Test SQLModel (main branch) on Python ${{ matrix.python-version }}
    # If 'schedule' was the trigger, don't run it on contributors' forks
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'pydantic/pydantic') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'third-party-tests'))

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # SQLModel doesn't yet support Python 3.13
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
    steps:
    - name: Checkout SQLModel
      uses: actions/checkout@v4
      with:
        repository: fastapi/sqlmodel

    - name: Checkout Pydantic
      uses: actions/checkout@v4
      with:
        path: pydantic-latest

    - uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true
        python-version: ${{ matrix.python-version }}

    - name: Install SQLModel dependencies
      run: |
        uv venv --python ${{ matrix.python-version }}
        uv pip install -r requirements-tests.txt
        uv pip install ./pydantic-latest

    - name: List installed dependencies
      run: uv pip list

    - name: Run SQLModel tests
      run: uv run --no-project pytest tests

  create-issue-on-failure:
    name: Create an issue if tests failed
    runs-on: ubuntu-latest
    needs:
      - test-fastapi
      - test-sqlmodel
    if: |
      github.repository == 'pydantic/pydantic' &&
      github.event_name == 'schedule' &&
      (
        needs.test-fastapi.result == 'failure' ||
        needs.test-sqlmodel.result == 'failure'
      )
    permissions:
      issues: write
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            await github.rest.issues.create({
              owner: 'pydantic',
              repo: 'pydantic',
              title: `Third-party tests failed on ${new Date().toDateString()}`,
              body: 'Run listed here: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}',
            })
